<% resources.each do |post| %>
<tr<%= cycle(""," class='even'") %>>
	<td><%= post.title %></td>
	<td><%= post.timestamp %></td>
	<td><%= link_to 'Edit', send(:"edit_#{post.class.to_s.underscore}_path", post.id) %></td>
	<td><%= link_to 'Delete', send(:"#{post.class.to_s.underscore}_path", post.id), :method => :delete, :confirm => 'Are you sure?' %></td>
</tr>
<% end %>