<%= page_id('transit_edit_post') %>
<%= form_for @post, :as => :post, :validate => true do |f| %>
<div id="transit_edit_toolbar">
	<ul>
		<li id="add_field" class='menu'>
			Add a Field
			<ol>
				<% Transit.contexts.map(&:to_s).each do |type| %>
				<li class="icon_<%= type.underscore %>">
					<%= link_to type, new_polymorphic_path([@post, Transit::Context], :type => type), :remote => true %>
				</li>
				<% end %>
			</ol>
		</li>
		<li id="post_date" class='menu'>
			<%= f.label :post_date %>
			<div id="post_date_menu" class='multifield datepicker'>				
				<%= f.date_select :post_date, { order: [:month, :day, :year], use_short_month: true } %>
			</div>
		</li>
		<li class='inline' id="toggle_status">
			<%= f.check_box :published %>				
		</li>
		<li><%= link_to 'Delete Post', polymorphic_path(resource), method: :delete, confirm: 'Are you sure?', class: 'toolbar_button delete_post_button' %></li>
	</ul>
</div>
<div id="post">	
	<%= render partial: 'form', locals: { form: f } %>
</div>
<div id="post_options">
	<div id='default_image' class='panel'>
		<h4>Primary Image</h4>
		<ol>
			<li class='inline'>
				<% unless resource.preview_image_url.nil? %>
				<span class="image"><%= image_tag(resource.preview_image_url) %></span>
				<% end %>
				<%= f.label "#{resource.image.file? ? 'Replace' : 'Upload'}" %>
				<%= f.file_field :image %>
				<%= f.check_box :display_image %> <%= f.label 'Display with post?' %>
			</li>
		</ol>
	</div>
</div>
<% end %>
<div id="post_assets">
	<%= render partial: 'transit/widgets/uploading', locals: { parent: @post } %>
	<%= render partial: 'transit/widgets/image_list', locals: { parent: @post } %>
	<%= render partial: 'transit/widgets/file_list', locals: { parent: @post } %>	
</div>


<script type="text/javascript" charset="utf-8">
//<![CDATA[
	$('#transit_edit_toolbar #post_published').switchbutton({states:['Published', 'Pending']});
	$('#post_detail h4, #post_date h4').triggerHandler("click");
//]]>
</script>