<%= page_id('transit_index') %>
<%= page_title("Transit: Manage #{t("#{scope_name.singularize}_collection", :scope => :transit)}") %>
<h1>Manage <%= t("#{scope_name.singularize}_collection", :scope => :transit) %></h1>
<%= paginate(@posts, :remote => true) %>
<table border="0" id="listing">
	<thead>
		<tr>
			<th>Title</th>
			<th>Post Date</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'table' %>
	</tbody>
</table>
<%= paginate(@posts, :remote => true) %>
<div class='buttons'>
	<%= button_link 'Add a New Post', new_post_path, :class => 'green' %>
</div>