<%= page_id("#{resource_collection_name}_show") %>
<%= page_title("Create a New Post") %>
<h2 class='main_heading'>New Post</h2>	
<%= form_for(resource, as: :post, html: { remote: true }) do |f| %>
<%= resource.errors.full_messages %>
<div id='edit_post_form'>
	<div class="post">
		<h1 class='transit-editable' rel="post_title">Add your title here</h1>
		<%= f.label :teaser, 'Teaser (optional)', style: 'padding-top:1em; display:block;' %>
		<%= f.text_area :teaser, id: 'new_post_teaser' %>
		<p id='new_post_help_note'>
			Once you click Create Post! below you will be able to edit things like files/images and the overall content 
			that will be displayed in your post.
		</p>
	</div>
</div>
<%= render(template: 'transit/interface/post_panel', locals: { form: f }) %>
<%= f.hidden_field :title %>
<p style="clear:both">
	<%= f.button 'Create Post!', class: 'green' %>
</p>
<% end %>