<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= include_javascripts :jquery => '1.6.0', :source => :google %>
  <%= javascript_include_tag "application", "transit" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application' %>
  <%= transit_assets %>
</head>
<body id="<%= page_id %>">
	<div id="wrapper">
		<%= yield %>
	</div>
</body>
</html>
