<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application' %>
	<style type="text/css" media="screen">
		input[type=file]{ width:200px; }
		span.uploadable{ border:1px dashed #ccc; display:inline-block; white-space:nowrap; }
		span.uploadable var{ display:inline-block; white-space:nowrap; overflow:hidden; padding:5px;}
	</style>
</head>
<body id="<%= page_id %>">
	<div id="wrapper">
		<%= yield %>
	</div>
</body>
</html>
