<%= deliver_media_context(context, context.to_backbone) %>
<div class='toolbar'>
	<ol class="split">
		<li>
			<%= form.label :source %>
			<%= select_tag :source_option %>
		</li>
		<li class='asset_source'>
			<%= form.label :source %>
			<%= form.text_field :source, :value => context.body, :style => 'width:225px' %>
		</li>
	</ol>
</div>
<script type="text/javascript" charset="utf-8">
//<![CDATA[
	jQuery('div.audio_player').transit('audio');
//]]>
</script>