<li class='field field_<%= @context.class.to_s.underscore %>'>
<%= fields_for "#{@package.class.to_s.underscore}[context_attributes][#{Time.now.to_i}]", context do |child| %>
	<div class="option_bar">
		<h4 class="icon_<%= context.shortname %>"><%= child.text_field :title, :value => context.field_name %></h4>
		<%= render partial: 'field_attrs', locals: { form: child, context: context } %>
	</div>
	<%= render partial: "transit/contexts/#{context.class.to_s.underscore}", locals: { form: child, context: context } %>	
<% end %>
</li>
