<div class="video_player<%= field.youtube? ? " youtube_player" : "" %>" data-video-source="<%= field.source %>" id="mediaplayer_<%= field.id %>">
</div>
<ol class="split">
	<li style='width:400px; padding-left:.5em'>
		<%= form.label :source %>
		<%= form.text_field :source, :value => field.body, :style => 'width:225px' %>
	</li>
	<li>
		<%= form.label :video_type %>
		<%= form.select :video_type, options_for_select([['Normal','normal'],['YouTube','youtube']], field.video_type) %>
	</li>
</ol>