<% contents = capture do %>
<%= paginate(collection, :remote => true) %>
<table border="0" id="listing">
	<thead>
		<tr>
			<% resource_class.admin_attributes.each do |heading| %>
			<th><%= admin_table_heading(heading) %></th>
			<% end %>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<%= render template: 'transit/table' %>
	</tbody>
</table>
<%= paginate(collection, :remote => true) %>
<div class='action-buttons buttons'>
	<%= link_to "Add a New #{t("transit.resource_names." + resource_class.to_s.underscore)}" , transit.new_polymorphic_path(resource_class.new), class: 'button' %>
</div>
<% end %>
<%= render :partial => 'layout.html.erb', :locals => { :content => contents, :action => 'index' } %>