<%= page_id('transit_edit_page') %>
<%= page_title("Transit: Edit Page: #{@page.name}") %>
<h1>Page Content: <%= @page.name %></h1>
<%= form_for @page, :as => :page, :html => { :id => 'edit_page_form' }, :validate => true, :remote => true do |f| %>
	<fieldset>
		<legend>Page Details</legend>
		<ol class="split">
			<li>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</li>
			<li class="buttons">
				<%= f.button %>
			</li>
		</ol>
	</fieldset>
<% end %>
