<%= page_id('transit_index') %>
<%= page_title("Transit: Manage Pages") %>
<h1>Manage Pages</h1>
<%= paginate(@pages, :remote => true) %>
<table border="0" id="listing">
	<thead>
		<tr>
			<th>Name</th>
			<th>URL</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'table' %>
	</tbody>
</table>
<%= paginate(@pages, :remote => true) %>