<%= page_id('transit_index') %>
<%= page_title("Transit: Manage #{t("transit.collection_names.#{resource_collection_name}")}") %>
<h1>Manage <%= t("transit.collection_names.#{resource_collection_name}") %></h1>
<%= paginate(collection, :remote => true) %>
<table border="0" id="listing">
	<thead>
		<tr>
		<% resource_class.admin_options.column_hash.each do |name, value| %>
			<% if value.is_a?(Array) %>
			<th><%= value.first %></th>
			<% else %>
			<th><%= value %></th>
			<% end %>
		<% end %>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<%= render template: 'transit/table' %>
	</tbody>
</table>
<%= paginate(collection, :remote => true) %>
<div class='buttons'>
	<%= button_link "Add a New #{t(resource_class.to_s.underscore, :scope => :transit)}" , new_polymorphic_path(resource_class.new) %>
</div>