<% collection.each do |item| %>
<tr<%= cycle(""," class='even'") %>>
<% Transit::Admin.options_for(resource_instance_name).column_hash.each do |name, value| %>
	<% if value.is_a?(Array) %>
	<td><%= value.last.call(item) %></td>
	<% else %>
	<td><%= item.send(:"#{name.to_s}") %></td>
	<% end %>
<% end %>
	<td><%= link_to 'Edit', transit.edit_polymorphic_path(item) %></td>
	<td><%= link_to 'Delete', transit.polymorphic_path(item), method: :delete, confirm: 'Are you sure?' %></td>
</tr>
<% end %>
