<%= page_id('dropbox') %>
<%= page_title('Admin: Drop Box') %>
<h1 class="ribbon">Uploads</h1>
<p class='intro'>This page contains various files that were uploaded separately from posts. You may assign them to a post, or
use them within other pages of content throughout the site.
</p>
<div id="listing">
<%= pagination(@assets) %>
	<table border="0">
		<thead>
			<tr>
				<th>Name</th>
				<th width="100">Created</th>
				<th width="150">Assign to Post</th>
				<th width="50">Delete</th>
			</tr>
		</thead>
		<tbody>
		<% @assets.each do |asset| %>
			<tr<%= cycle(""," class='even'") %> id="asset_<%= asset.id %>">
				<td><%= link_to asset.name, asset.file.url(:original), :class => "icon #{file_icon_class(asset)}" %></td>
				<td><%= asset.timestamp %></td>
				<td></td>
				<td><%= link_to 'Delete', admin_asset_path(asset.id), :method => :delete, :confirm => 'Are you sure?', :remote => true %></td>
			</tr>		
		<% end %>
		</tbody>
	</table>
	<%= pagination(@assets) %>
</div>
<div id="upload_files">
	<h3>Upload a File</h3>
	<div id="upload_list"></div>
	<%= file_field_tag :asset_upload, :class => 'uploadify' %>
	<%= button_link 'Start Upload', '#', :id => 'start_upload', :class => 'green' %>
</div>

<%= javascript_include_tag 'jquery.uploadify.min', :cache => false %>
<script type="text/javascript" charset="utf-8">
//<![CDATA[
	
	<% session_key = Rails.application.config.session_options[:key] %>
	
	var active_editor,
		updated_opts,
		upload_field = $('input.uploadify'),
		upload_start = $('#start_upload'),
		upload_data  = {
			"_http_accept": "application/javascript",
			"_method"     : "post",
			csrf_token    : encodeURI($('meta[name=csrf-token]').attr('content')),
			"authenticity_token" : '<%= form_authenticity_token %>',
			'<%= session_key %>' : '<%= cookies[:session_key] %>',
			"format" : "js"
		};
		
	upload_field.uploadify({
	    swf  : "/assets/uploadify.swf",
		auto : false,
		uploader		: '<%= admin_assets_path %>',
		buttonClass     : 'button',
		buttonCursor    : 'hand',
		buttonImage     : '',
		buttonText      : 'Choose Files',
		cancelImage     : '',
		checkExisting   : false,
		debug           : false,
		fileObjName     : 'asset[file]',
		fileSizeLimit   : 104857600,
		fileTypeDesc    : 'All Files',
		fileTypeExts    : '*.*;',
		height          : 35,
		method          : 'post',
		multi           : true,
		queueID         : 'upload_list',
		queueSizeLimit  : 999,
		removeCompleted : false,
		requeueErrors   : true,
		postData        : upload_data,
		preventCaching  : true,
		progressData    : 'percentage',
		successTimeout  : 30,
		scriptAccess    : 'always',
		transparent     : true,
		uploadLimit     : 999,
		uploaderType    : 'html5', // the other option is 'flash'
		width           : 120,
		onUploadSuccess : process_upload,
		onUploadProgress: update_progress,
	});
		
	upload_start.bind('click', function(event){
		event.preventDefault();
		$('#asset_upload').uploadifyUpload();
	});
	
	function process_upload(file, data, success){
		var resp  	= $.parseJSON(data), 
			first 	= $('#listing table tbody tr:first'), 
			new_row = $("<tr></tr>");
		
		if(!first.hasClass('even')) new_row.addClass('even');
		new_row.append($("<td></td>").html($("<a></a>").attr('href', resp.urls.original).text(resp.name)))
			   .append($("<td></td>").text(resp.created_at))
			   .append($("<td></td>").text(""))
			   .append($("<td></td>").html($("<a></a>").attr('href', "/admin/assets").attr('data-remote', true).attr('data-method', "delete").text("Delete")))
			   .attr('id', resp.id)
			   .appendTo($('#listing table tbody'));
		
		
		$('#' + file.id).find('span.fileName').css("background-position", "-225px 50%");
		$('#asset_upload').uploadifyCancel(file.id);
	}
	
	function update_progress(file, fileBytesLoaded, fileTotalBytes, queueBytesLoaded, queueSize){
		var percentage = Math.round(fileBytesLoaded / fileTotalBytes * 100),
			imagew 	   = 225, 
			bgx 	   = (imagew * (percentage * 0.1));
		$('#' + file.id).find('span.fileName').css("background-position", bgx+"% 50%");
		return false;		
	}
	
	
	
//]]>
</script>