<div id="transit_admin_panel">	
	<div id="transit_admin_panel_wrapper">
		<ul>
			<li><a href="#post_meta">Detail</a></li>
			
			<!-- Persisted models only -->
		<% if resource.persisted? %>
			<li><a href="#post_contexts">Content</a></li>
			<% if form.object.delivers?(:topics) %>
			<li><a href="#post_topics">Topics</a></li>
			<% end %>
			<% if resource.delivers?(:assets) %>
			<li><a href="#post_assets">Uploads</a></li>			
			<% end %>
			<li><a href="#post_social">Social</a></li>
		<% end %>
			<!-- END -->
		</ul>
		<div id="post_meta" class='panel'>
			
			<!-- Can only publish after save -->
			<% if resource.persisted? %>
			<h4 class='published'>Published? <%= form.check_box :published, class: 'toggle' %> </h4>
			<% end %>
			<!-- End -->

			<% if resource.delivers?(:attachments) %>			
			<div id="post_primary_image">				
				<h4>Primary Image</h4>
				<span class='primary_image_holder'>
					<%= image_tag(resource.preview_image_url) unless resource.preview_image_url.nil?  %>
				</span>				
				<span class='image_options'>
					<%= form.check_box :display_image %>
					<%= form.label :display_image, "Display on actual post page?" %><br />
					<%= form.file_field :default_image %>
				</span>
			</div>
			<% end %>
			
			<h4>Post Date</h4>
			<div class='datepicker' rel='post_post_date'></div>
			<div id="datepicker_target">
				<%= form.date_select :post_date, { order: [:month, :day, :year], use_short_month: true } %>
			</div>
			<% if resource.persisted? %>
			<h4>Teaser</h4>
			<%= form.text_area :teaser %>
			<% end %>
		</div>
		
		<!-- Edit mode only -->
		<% if resource.persisted? %>
		<div id="post_contexts" class='panel'>
			<h4>Content Sections</h4>
			<ul>
				<% Transit.contexts.map(&:to_s).each do |type| %>
				<li class="icon_<%= type.underscore %>">
					<%= link_to type, transit.send(:"new_#{form.object_name}_context_path", resource.id, :type => type), remote: true %>
				</li>
				<% end %>
			</ul>
		</div>
		<% if form.object.delivers?(:topics) %>
		<%= render(template: 'transit/topics/manage', locals: { form: form }) %>
		<% end %>
		<% if resource.delivers?(:assets) %>
		<%= render(template: 'transit/assets/manage', locals: { form: form }) %>
		<% end %>
		<div id="post_social">
			<h4>Social Sharing</h4>
			<p>Soon....</p>
		</div>
		<% end %>
		<!-- End edit mode only -->
		
	</div>
</div>
<% if resource.delivers?(:owner) %>
<%= form.hidden_field :user, value: current_user.id %>
<% end %>
<% if resource.persisted? %>
<ul id="transit_admin_panel_buttons">
	<li><button data-ui-button="check" type='commit'>Save</button></li>
	<li><%= link_to 'Delete', transit.polymorphic_path(form.object), method: :delete, confirm: 'Are you sure you want to delete this post?', data: { ui_button: 'closethick' } %></li>
</ul>
<% end %>
<div id="transit_admin_help">
	<h4>Help</h4>
	<p><strong>Editing Content:</strong>
	To edit content, click on the copy block to the left, or on the title above. Once selected that particular area of 
	content will become 'active' allowing you to edit it. When finished, click "save" above.</p>
	<p>Posts will not display on the site until two criteria are met. First, the post date must be set to a date on or before 
	today. Second, the "published" box must be checked. If the published box is checked, and the post date is set to a date 
	later than today, the post will not display until that date.</p>
</div>